.AppBar{
  height: 60px;
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.AppBar button{
  width: 100px;
}
.Authentication{
  text-align: center;
  /* background-color: rgb(233, 239, 241) */

}
.Authentication label{
  font-size: 18px;
  font-weight: bold;
  color: rgb(16, 107, 107);

}
.Authentication input{
  transition: 1s;
  border: 2px solid lightblue;
  border-radius: 5px;
  margin: 3px auto 10px auto;
  padding-left: 8px;
  width: 320px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(1, 26, 26);

}
.Authentication input:focus{
  background-color: rgb(233, 239, 241);
}
.Authentication textarea{
  transition: 1s;
  border: 2px solid lightblue;
  border-radius: 5px;
  margin: 3px auto 10px auto;
  padding-left: 8px;
  width: 320px;
  height: 80px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(1, 26, 26);
}
.Authentication textarea:focus{
  background-color: rgb(233, 239, 241);

}
/* .SeatNo{
  width: 150px;
} */
.Authentication button{
  transition: 1s;
  width: 320px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  margin: 5px auto;
  background-color: rgb(227, 233, 238);
}


@media screen and (max-width: 1025px){
  
  .Authentication input{
    transition: 1s;
    width: 40%;
  }
  .Authentication textarea{
    transition: 1s;
    width: 40%;
  }
  /* .SeatNo{
    transition: 1s;
    width: 17%;
  } */
  .Authentication button{
    transition: 1s;
    width: 40%;  
  }
}


@media screen and (max-width: 900px){
                
  .Authentication input{
    transition: 1s;
    width: 50%;
  }
  .Authentication textarea{
    transition: 1s;
    width: 50%;
  }
  /* .SeatNo{
    transition: 1s;
    width: 23%;
  } */
  .Authentication button{
    transition: 1s;
    width: 50%;
  }
}

@media screen and (max-width: 780px){
                
  .Authentication input{
    transition: 1s;
    width: 60%;
  }
  .Authentication textarea{
    transition: 1s;
    width: 60%;
  }
  .Authentication button{
    transition: 1s;
    width: 60%; 
  }
}

@media screen and (max-width: 600px){
                
  .Authentication input{
    transition: 1s;
    width: 70%;
  }
  .Authentication textarea{
    transition: 1s;
    width: 70%;
  }
  .Authentication button{
    transition: 1s;
    width: 70%;  
  }
}

@media screen and (max-width: 480px){
                
  .Authentication input{
    transition: 1s;
    width: 80%;
  }
  .Authentication textarea{
    transition: 1s;
    width: 80%;
  }
  .Authentication button{
    transition: 1s;
    width: 80%;  
  }
}
.Radio{
  margin-left: 0px;
  text-align: start;
  cursor: pointer;
  
}
.Radio input{
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.HomeBar{
  height: 80px;

}
.MainDiv {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}
.image{
  width: 20%;
  text-align: start;
  float: left;
}
.HomeBar img{
  width: 60px;
  height: 60px;
  margin-left: 15px;
  border-radius: 60px;
}
.Heading{
  text-align: center;
  width: 60%;
  font-size: 30px;
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: bold;
}
.Button{
  width: 20%;
  text-align: end;
}

/* Organizer Work */

.OrgHeader div:first-child{
  width: 20%;
  height: 10px;
  float: left;
  
}
.OrgHeader div:nth-child(2){
  width: 60%;
  float: left;
  text-align: center;
  color: rgb(2, 77, 77);
  border-bottom: 4px solid darkcyan;
  border-radius: 8px;
  margin-bottom: 10px;
}

.OrgHeader div:last-child{
  width: 20%;
  float: left;
  text-align: end
}
.CardDiv{
  width: 99.5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px ;
}
.Cards{
  width: 320px;
  height: auto;
  /* border: 1px solid black; */
  margin: 5px;
  border-radius: 5px;
}
.Cards span b{
  color: rgb(82, 81, 81);
}
.CardBorder{
  border: 2px solid darkgrey;
}
.EventDetail{
  /* overflow: visible; */
  /* text-justify: inter-word; */
  /* text-overflow: inherit; */
  text-align: justify;
  border: 1px solid rgb(250, 96, 96)
}

.EventName{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  margin-bottom: 5px;
  border-bottom: 3px solid #1e8fa4;
  border-radius: 15px;
}
.OtherDetails{
  width: 100%;
  margin-bottom: 15px
}
.EventDetailDiv{
  width: 25%;
  float: left;
  display: flex;
  /* padding-top: 35px; */
  flex-direction: column;
  align-items: center;
}
.EventDetailDiv h4{
  margin: 5px auto;
  padding: 0px 8px;
  color: rgb(19, 71, 71);
  /* background-color: rgb(9, 104, 104) */

}
.EventDetailDiv p{
  margin: 0px auto 5px auto;
  padding: 0px 8px  ;
  color: rgb(77, 76, 76)
}
.EventDetailDiv2{
  width: 50%;
  float: left;
  text-align: center;

}

/* select{
  text-align: center;
  transition: 1s;
  border: 1px solid lightblue;
  border-radius: 5px;
  margin: 3px auto 10px auto;
  padding-left: 8px;
  width: 320px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(2, 49, 49);
} */